﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="arquivoupload.aspx.cs" Inherits="Overfly3.serversidegenEx.arquivoupload" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
        <script type="text/javascript">
            function imgPreview() {
                var glb_FileUpload1Value = document.getElementById('FileUpload1').value;
                window.parent.document.getElementById("img_Imagem").src = glb_FileUpload1Value;
            }
        </script>
</head>
<body>
    <form id="form1" runat="server">
    <div id="teste">
            <table border="0">
                <tr>
                    <td>
                        <asp:FileUpload ID="FileUpload1" runat="server" Width="290px" Font-Size="Smaller" onchange="return imgPreview()" />
                    </td>
                    <td>
                        <asp:Button ID="btnUpload" runat="server" onclick="btnUpload_Click" Text="Upload" Font-Size="8" style="height: 21px" />
                    </td>
                </tr>
            </table>
    </div>
    </form>
</body>
</html>
