<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="fillcmbscontfilters.aspx.cs" Inherits="Overfly3.serversidegenEx.fillcmbscontfilters" %>
<%
    // Escreve o resultado.
    Response.ContentType = "text/xml";
    Response.ContentEncoding = System.Text.Encoding.UTF8;
    Response.Write(StrXML);
%>
