﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="importadadosfornecedor.aspx.cs" Inherits="Overfly3.serversidegenEx.importadadosfornecedor" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
    <script>
        var DesTimerInt;

        function Clica() {
            DesTimerInt = window.setInterval('Desabilita()', 30, 'JavaScript');
        }

        function Desabilita() {
            if (DesTimerInt != null) {
                window.clearInterval(DesTimerInt);
                DesTimerInt = null;
            }

            document.getElementById('FileUpload1').disabled = 'true';
            document.getElementById('btnUpload').disabled = 'true';
        }
    </script>    
</head>
<body>
    <form id="form1" runat="server">
    <div id="teste" style="top: 0px; margin-left:53px;">
            <table border="0">
                <tr>
                    <td>
                        <asp:FileUpload ID="FileUpload1" runat="server" Width="368px"  Font-Size="Smaller"/>
                    </td>
                    <td>
                        <asp:Button ID="btnUpload" runat="server" onclick="btnUpload_Click" OnClientClick="return Clica()" Text="Upload" Font-Size="8" style="height: 21px" />
                    </td>
                </tr>
            </table>
    </div>
    </form>
</body>
</html>
