﻿
.ImgButton
{
    font-family: 'Times New Roman' , Times, serif;
    font-size: small;
    text-decoration: underline;
    color: #000080;
    font-weight: lighter;
    text-align: left;
}

.ImgButtonPdf
{
    font-family: 'Times New Roman' , Times, serif;
    font-size: small;
    text-decoration: underline;
    color: #000080;
    font-weight: lighter;
    background-image: url('../Images/pdf_icon.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    text-align: left;
}

.ImgButtonExcel
{
    font-family: 'Times New Roman' , Times, serif;
    font-size: small;
    text-decoration: underline;
    color: #000080;
    font-weight: lighter;
    background-color: transparent;
    background-image: url('../Images/excel_icon.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    text-align: left;
}

.ImgButtonImprimir
{
    font-family: 'Times New Roman' , Times, serif;
    font-size: small;
    text-decoration: underline;
    color: #000080;
    font-weight: lighter;
    background-color: transparent;
    background-image: url(../Images/printer_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    text-align: left;
}

.Body
{
    background-color: #666666;
    text-align: center;
    margin: 0px;
}

.DivReport
{
    text-align: center;
    background-color: #808000;
    z-index: -1;
   
}

.Report
{
    
}

