*
{
	margin:0;
	padding:0;
	font-family:Tahoma;
}

body
{
	padding:5px;
	/*width: 903px;*/
}

p.titulo
{
	font-weight: bold;
	font-size: 9px;
}

table, hr.LinhaDeCorte
{
	width: 730px;
}

table th
{
	padding: 0px 2px;
	font-size: 9px;
	text-align: left;
	background-color:#F3F3F3;
}

table td
{
	padding: 0px 2px;
	height: 20px;
	font-size:9px;
}

table tr.item{
	border-bottom: 1px solid #FFFFFF;
}

table.DadosAdicionais td{
	height: 100px;
}

table td.NumeroCanhoto{
	width: 110px;
	font-weight: bold;
	text-align: center;
}


hr.LinhaDeCorte{
	border: 1px dashed #333333;
	text-align: left;
}

#TipoNFe 
{
	float:left;
	width: 70px;
	height:0px;
}

#ValorTipoNFe
{
	padding-top:3px;
	width: 20px;
	height:20px;
	text-align:center;
	vertical-align:middle;
	border:1px solid #333333;
}

#ModoFrete
{
	float:left;
	width: 70px;
	height: 0px;
	font-size: 10px;
}

#ValorModoFrete
{
	margin-top:2px;
	padding-top:1px;
	width: 20px;
	height: 20px;
	text-align:center;
	vertical-align:middle;
	border:1px solid #333333;
}

.negrito
{
	font-weight:bold;
}