table
{
	width: 725px;
}

table th
{
	padding: 0px 2px;
	font-family:Tahoma;
	font-size: 10px;
	text-align: left;
	background-color:#F3F3F3;
}

table td
{
	padding: 0px 2px;
	height: 20px;
	font-family:Tahoma;
	font-size:10px;
}