BODY {
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM: silver thin outset;
    BORDER-LEFT: silver thin outset;
    BORDER-RIGHT: silver thin outset;
    BORDER-TOP: silver thin outset;
    visibility: hidden;
}

.divGeneral {
    BACKGROUND-COLOR: navy;
    BORDER-BOTTOM: 1px inset;
    BORDER-LEFT: 1px inset;
    BORDER-RIGHT: 1px inset;
    BORDER-TOP: 1px inset;
    HEIGHT: 24px;
    LEFT: 0px;
    POSITION: absolute;
    TOP: 0px;
    WIDTH: 126px;
}

.paraNormal {
    BACKGROUND-COLOR: transparent;
    COLOR: white;
    FONT-FAMILY: Tahoma, Arial;
    FONT-SIZE: 8pt;
    HEIGHT: 18px;
    POSITION: absolute;
    TEXT-ALIGN: left;
    WIDTH: 125px;
}

.btns {
    FONT-FAMILY: Tahoma, Arial;
    FONT-SIZE: 8pt;
    HEIGHT: 24px;
    POSITION: absolute;
    WIDTH: 80px;
}

.lblGeneral {
    BACKGROUND-COLOR: transparent;
    FONT-FAMILY: Tahoma,Arial,sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal;
    HEIGHT: 16px;
    LEFT: 0px;
    POSITION: absolute;
    TEXT-ALIGN: left;
    TOP: 0px;
    WIDTH: 160px;
    CURSOR: default;
}

.fldGeneral {
    BACKGROUND-COLOR: transparent;
    FONT-FAMILY: Tahoma,Arial,sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    HEIGHT: 24px;
    LEFT: 0px;
    POSITION: absolute;
    TEXT-ALIGN: left;
    TOP: 16px;
    WIDTH: 160px;
}

.sepGeneral {
    BACKGROUND-COLOR: transparent;
    POSITION: absolute;
    TEXT-ALIGN: left;
    CURSOR: default;
}
