<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="servervariables01.aspx.cs" Inherits="Overfly3.serversidegenEx.checkserverside.servervariables01" %>
<%
    Response.ContentType = "text/xml";
    Response.ContentEncoding = System.Text.Encoding.UTF8;
    Response.Write(StrXML);
%>
