<%@ Page Language="C#" ValidateRequest="false" AutoEventWireup="true" CodeBehind="sincronizavalorlocalizar.aspx.cs" Inherits="Overfly3.modcomercial.submodpedidos.frmpedidos.serverside.sincronizavalorlocalizar" %>
