DIV.spacer {
	clear: both;
	padding: 0px;
	margin: 0px;
	font-size: 1px;
	float: none;
	width: 100%;
	height: 1px !important;
}

DIV.destaque_esquerda, DIV.destaque_centro, DIV.destaque_direita {
	float: left;
}

DIV#destaques_primario, DIV#destaques_secundario, DIV.destaques_terciario {
	clear: both;
}

DIV#destaques_primario {
	text-align:center;
}

DIV#destaques_primario DIV.destaque_centro {
	width: 355px;
	margin: 0px auto;
	float: none;

}


DIV#destaques_secundario DIV {
	width: 213px;
	height: 350px;
	padding: 0px;
	margin: 2px;
	
}

DIV#destaques_secundario DIV {
	margin: 2px;
}


DIV.destaques_terciario DIV {
	width: 213px;
	height: 260px;
	margin: 2px;
}

DIV#destaques_primario IMG, DIV#destaques_secundario IMG, DIV.destaques_terciario IMG {
	border: 0px;
}

DIV.bigBanner {
	text-align: center;
	margin-bottom: 10px;
}

DIV.banner {
	margin-bottom: 10px;
}

DIV.banner DIV{
	width: 290px;
	text-align: center;
}

DIV.banner DIV.left {
	float: left;
}

DIV.banner DIV.right {
	float: right;
}

.titulo_principal {
	color:					#008734;
	font-weight:			bold;
}

.categoria {
	color:					#008734;
}

.destaques_terciario {
	text-color:				#000000;
}