﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Reports_valoresalocalizar.aspx.cs" Inherits="Overfly3.PrintJet.Reports_valoresalocalizar" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>ABC</title>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="http://malsup.github.io/jquery.blockUI.js" type="text/javascript"></script>

    <script type="text/javascript">

        //	    $(document).ready(function () {

        $(document).ready(function () {

            $(window).load(function () {
                $.blockUI({ message: 'Gerando Relatório' });
                setTimeout($.unblockUI, 3000);
            });

            //	        $(window).resize(function() {

            //	            $.BlockUI({ message: 'Gerando Relatório' });
            //                window.o
            //	        });
        });

        //	    window.onresize = alert("Teste");
        //        
        //        function verificaNavegador() {
        //	        $.BlockUI({ message: 'Gerando Relatório' });
        //	    }

        // window.undefined = alert("Teste");

    </script>

</head>
<body>
</body>
</html>
