BODY
{
    BACKGROUND-COLOR: transparent;
    VISIBILITY: hidden;
}
.imgGeneral
{
    BACKGROUND-COLOR: transparent;
    POSITION: absolute;
}
.fldGeneral
{
    BACKGROUND-COLOR: transparent;
    FONT-FAMILY: Tahoma,Arial,MS Sans-Serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    HEIGHT: 24px;
    LEFT: 0px;
    POSITION: absolute;
    TEXT-ALIGN: left;
    TOP: 16px;
    WIDTH: 160px;
}
.sepGeneral
{
    BACKGROUND-COLOR: transparent;
    POSITION: absolute;
    TEXT-ALIGN: left;
    CURSOR: default;
}
.botao  
{
    padding:0px;
    COLOR: white;
    position: absolute;
    border-bottom: none;
    border-radius:20px;
    border: none;
    text-decoration: none;
    text-align:center;
    background: transparent;
    width:30px;
    height:25px;
    font-family: Tahoma,Arial,sans-serif;
    border-radius: 10px;
}
.botaoinf
{
    VISIBILITY: hidden;   
    background: transparent; 
    position: absolute;
    border-bottom: none;
    text-decoration: none;
    border-radius:20px;
    border: none;
}
