<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="emailpedidoatual.aspx.cs" Inherits="Overfly3.serversidegenEx.emails.emailpedidoatual" %>
<%
    Response.ContentType = "text/xml";
    Response.ContentEncoding = System.Text.Encoding.UTF8;
    Response.Write(StrXML);
%>
