BODY
{
    BACKGROUND-COLOR: yellow;
}
.fldTitle
{
    FONT-FAMILY: Tahoma,Arial,MS Sans-Serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 4px;
}
.fldSubTitle
{
    FONT-FAMILY: Tahoma,Arial,MS Sans-Serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 4px;

}
.fldSubTitleRight
{
    FONT-FAMILY: Tahoma,Arial,MS Sans-Serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 4px;
}
.divGeneral
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100;
	height: 100;
	background-color: transparent;
	visibility: hidden;
}
.divGeneralHidden
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100;
	height: 100;
	background-color: transparent;
	visibility: hidden;
}
.divGeneralInherit
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100;
	height: 100;
	background-color: transparent;
	visibility: inherit;
}