BODY
{
    BACKGROUND-COLOR: transparent;
    VISIBILITY: hidden
}
.divGeneral
{
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM: thin inset;
    BORDER-LEFT: thin inset;
    BORDER-RIGHT: thin inset;
    BORDER-TOP: thin inset;
    HEIGHT: 26px;
    LEFT: 0px;
    POSITION: absolute;
    TOP: 0px;
    WIDTH: 760px
}
.paraGeneral
{
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-FAMILY: Tahoma, Arial;
    FONT-SIZE: 8pt;
    HEIGHT: 18px;
    LEFT: 2px;
    PADDING-TOP: 2px;
    POSITION: absolute;
    TEXT-ALIGN: left;
    TOP: 2px;
    WIDTH: 200px;
    CURSOR: default;
}
.btnGeneral
{
    FONT-FAMILY: Tahoma;
    FONT-SIZE: 8pt;
    HEIGHT: 24px;
    LEFT: 1px;
    POSITION: absolute;
    TOP: 1px;
    WIDTH: 80px
}
.lnGeneral
{
    BACKGROUND-COLOR: transparent;
    FONT-FAMILY: Tahoma,Arial,sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    HEIGHT: 24px;
    LEFT: 0px;
    POSITION: absolute;
    TEXT-ALIGN: left;
    TOP: 16px;
    WIDTH: 160px;
    CURSOR: default;
}
.divIntern
{
    LEFT: 952px;
    WIDTH: 30px;
    POSITION: absolute;
    TOP: 15px;
    HEIGHT: 30px;
    BACKGROUND-COLOR: transparent
}
.botao  
{
    padding:0px;
    COLOR: white;
    position: absolute;
    border-bottom: none;
    border: none;
    text-decoration: none;
    text-align:center;
    background: transparent;
    width:30px;
    height:25px;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    border-radius: 10px;
}